@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');

$font: 'Montserrat', 'sans-serif';
ion-header{
    --background:white;
}
ion-toolbar{
    --background: rgba(255,255, 255,.1);
border-radius: 15px;
width: 90%;
left: 5%;
ion-title{
    color:#69bb7b;
    font-size: 12px;
    font-family: $font;
}
}

ion-content{
    --background:rgba(20,10,20,.8);
}




@media only screen and(max-width:280px){

    ion-toolbar{
 
    ion-title{
        font-size: 9px;
    }
    }
}