<ion-content >
<app-header sitio="Sitios"></app-header>
<ion-grid >
  <ion-row class="center">
    <div *ngIf="loading" id="loading"><ion-spinner></ion-spinner>
    </div>
    <div *ngIf="zona">
      <ion-col   sizeXs="12" sizeSm="12" sizeLg="6" sizeMd="6" sizeXl="4" *ngFor="let u of Zona;let i = index "  >
      
        <div *ngFor="let h of u| city:Hour" >
        <app-sitio Temp="{{h.Temp}}"
                   Humedad="{{h.Humedad}}"
                   Viento="{{h.Viento}}"
                   [Values-P]="h"
                   AQI="{{AQI}}"
        ></app-sitio>
  </div>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>
</ion-content>

